{% extends "sys_base/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
<title>DenSys.Me</title>
{% endblock title %}

{% block content %}


<div class="container p-t-5">
    <div class="col-md-10 offset-md-1 mt-5">
        <div class="jumbotron" style="margin-top:100px">
            <h3 class="display-8">Dear {{request.session.name}} {{request.session.surname}}, you have successfully requested your appointment!</h3>
            <p>Please remember the information below</p>
            <hr class="my-4" />
            <p>Your doctor is <b>{{request.session.doctor}}</b></p>
            <p>Date and time: <b>{{request.session.date}}, {{request.session.timeslot}}</b></p>
        </div>
    </div>
    <div class="row d.flex m-t-5">
        <div class="col-md-12">
            <a href="{% url 'index' %}" class="btn text-info btn-block btn-lg"> <!--url 'patient_list'-->
                Back to the home page
            </a>
        </div>
    </div>
</div>
{% endblock content %}