{% extends "sys_base/base.html" %} 
{% block content %}

{% if usertype == 'Patient' %}
<div class="container p-t-5">
    <div class="col-md-12 offset-md-1 mt-5">
      <div class="jumbotron" style="margin-top:100px">
<h1 class="display-8">Past Appointments</h1>
        <hr class="my-4">
        <table class="table table-borderless">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <td>Doctor</td>
                    <td>Date</td>
                    <td>Time</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for app in appointments %}
                    <tr>
                        <td>{{app.doctor}}</td>
                        <td>{{app.date}}</td>
                        <td>{{app.timeslot}}</td>
                        <td><a href="{% url 'viewprescription' app.id %}" class="btn btn-block text-secondary px=0"> <!-- url 'user_update' user.email -->
                            Prescription
                        </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'index' %}" class="btn text-info btn-block btn-lg"> <!--url 'patient_list'-->
            Main page
        </a>
    </div>
    </div>
    </div>

    {% elif usertype == 'Doctor' %}
    <div class="container p-t-5">
        <div class="col-md-12 offset-md-1 mt-5">
          <div class="jumbotron" style="margin-top:100px">
    <h1 class="display-8">Past Appointments</h1>
            <hr class="my-4">
            <table class="table table-borderless">
                <thead class="border-bottom font-weight-bold">
                    <tr>
                        <td>Doctor</td>
                        <td>Date</td>
                        <td>Time</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for app in appointments %}
                        <tr>
                            <td>{{app.doctor}}</td>
                            <td>{{app.date}}</td>
                            <td>{{app.timeslot}}</td>
                            <td><a href="{% url 'makeprescription' app.id %}" class="btn btn-block text-secondary px=0"> <!-- url 'user_update' user.email -->
                                Edit prescription
                            </a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'index' %}" class="btn text-info btn-block btn-lg"> <!--url 'patient_list'-->
                Main page
            </a>
        </div>
        </div>
        </div>
    {% endif %}
    {% endblock content %}