{% extends "sys_base/base.html" %} 
{% block content %}

<div class="container p-t-5">
    <div class="col-md-10 offset-md-1 mt-5">
      <div class="jumbotron" style="margin-top:100px">

<h1 class="display-8">Patients registered</h1>
<hr class="my-4">
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>IIN</td>
            <td>First Name</td>
            <td>Last Name</td>
            <td>
                <a href="{% url 'patient_register' %}" class="btn text-secondary px=0">
                    <i class="fas fa-plus"></i> Add new
                </a>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for patient in patient_list %}
            <tr>
                <td>{{patient.iin}}</td>
                <td>{{patient.name}}</td>
                <td>{{patient.surname}}</td>
                <td>
                    <a href="{% url 'patient_update' patient.id %}" class="btn text-secondary px=0"> <!-- url 'user_update' user.email -->
                        <i class="far fa-edit fa-lg"></i>
                        edit
                    </a>
                    <form action="{% url 'patient_delete' patient.id %}" method="post" class="d-inline"> <!-- url 'patient_delete' pateint.iin -->
                        {% csrf_token %}
                        <button type="submit" class="btn text-danger">
                            <i class="far fa-trash-alt fa-lg "></i> Delete
                        </button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


</div>
</div>
</div>
{% endblock content %}
