<div id="requestConfirmModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" role="content">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">You have successfully requested an appointment</h4>
            </div>
            <div class="modal-body">
                <p>Your request ID is {{form.id}}</p>
                <form>
                    <div class="form-row">
                        <button type="button" class="btn btn-info btn-sm btn-block" data-dismiss="modal">Go to the home page</button>   
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>