{% extends "sys_base/base.html" %} 
{% block content %}


<div class="container p-t-5">
    <div class="col-md-12 offset-md-1 mt-5">
      <div class="jumbotron" style="margin-top:100px">
        {% if usertype == 'admin' %}
<h1 class="display-8">Requested Appointments</h1>
        <hr class="my-4">
        <table class="table table-borderless">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <td>Doctor</td>
                    <td>Patient name</td>
                    <td>Patient surname</td>
                    <td>Contact</td>
                    <td>Date</td>
                    <td>Time</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for app in appointments %}
                    <tr>
                        <td>{{app.doctor}}</td>
                        <td>{{app.patient.name}}</td>
                        <td>{{app.patient.surname}}</td>
                        <td>{{app.patient.contact_number}}</td>
                        <td>{{app.date}}</td>
                        <td>{{app.timeslot}}</td>
                        <td><a href="{% url 'app_confirm' app.id %}" class="btn text-secondary px=0"> <!-- url 'user_update' user.email -->
                            Confirm
                        </a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% elif usertype == 'Patient' %}
        <h1 class="display-8">Requested Appointments for the Patient - {{request.user.username}}</h1>
        <hr class="my-4">
        <table class="table table-borderless">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <td>Doctor Name</td>
                    <td>Doctor Surname</td>
                    <td>Contact</td>
                    <td>Patient IIN</td>
                    <td>Date</td>
                    <td>Time</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for app in appointments %}
                    <tr>
                        <td>{{app.doctor.name}}</td>
                        <td>{{app.doctor.surname}}</td>
                        <td>{{app.doctor.contact_number}}</td>
                        <td>{{app.patient.iin}}</td>
                        <td>{{app.date}}</td>
                        <td>{{app.timeslot}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% elif usertype == "Doctor" %}
        <h1 class="display-8">Requested Appointments for the Doctor - {{request.user.username}}</h1>
        <hr class="my-4">
        <table class="table table-borderless">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <td>Doctor Name</td>
                    <td>Doctor Surname</td>
                    <td>Contact</td>
                    <td>Patient IIN</td>
                    <td>Date</td>
                    <td>Time</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for app in appointments %}
                    <tr>
                        <td>{{app.doctor.name}}</td>
                        <td>{{app.doctor.surname}}</td>
                        <td>{{app.doctor.contact_number}}</td>
                        <td>{{app.patient.iin}}</td>
                        <td>{{app.date}}</td>
                        <td>{{app.timeslot}}</td>
                        <td>
                            {% if usertype == 'Doctor' %}
                            <a href="{% url 'makeprescription' app.id %}" class="btn text-secondary px=0"> <!-- url 'user_update' user.email -->
                                Make prescription
                            </a>
                           
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <a href="{% url 'index' %}" class="btn text-info btn-block btn-lg"> <!--url 'patient_list'-->
            Main page
        </a>
</div>
</div>
</div>
{% endblock content %}