{% extends "sys_base/base.html" %} 
{% block content %}


<div class="container p-t-5">
    <div class="col-md-12 offset-md-1 mt-5">
      <div class="jumbotron" style="margin-top:100px">
        {% if usertype == 'admin' %}
<h1 class="display-8">Requested Appointments</h1>
        <hr class="my-4">
        
        <table class="table table-borderless">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <td>Doctor</td>
                    <td>Patient name</td>
                    <td>Patient surname</td>
                    <td>Contact</td>
                    <td>Date</td>
                    <td>Time</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for app in appointments %}
                    <tr>
                        <td>{{app.id}}</td>
                        <td>{{app.doctor}}</td>
                        <td>{{app.patient_name}}</td>
                        <td>{{app.patient_surname}}</td>
                        <td>{{app.patient_contact}}</td>
                        <td>{{app.date}}</td>
                        <td>{{app.timeslot}}</td>
                        <td>
                            <form action="{% url 'app_confirm' app.id %}" method="post" class="d-inline"> <!-- url 'patient_delete' pateint.iin -->
                                {% csrf_token %}
                                <button type="submit" class="btn text-info"> Confirm
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% elif usertype == 'Doctor' or usertype == 'Patient' %}
        <h1 class="display-8">Requested Appointments for the Patient - {{request.user.username}}</h1>
        <hr class="my-4">
        <table class="table table-borderless">
            <thead class="border-bottom font-weight-bold">
                <tr>
                    <td>Doctor Name</td>
                    <td>Doctor Surname</td>
                    <td>Contact</td>
                    <td>Patient IIN</td>
                    <td>Date</td>
                    <td>Time</td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                {% for app in appointments %}
                    <tr>
                        <td>{{app.doctor.name}}</td>
                        <td>{{app.doctor.surname}}</td>
                        <td>{{app.doctor.contact_number}}</td>
                        <td>{{app.patient.iin}}</td>
                        <td>{{app.date}}</td>
                        <td>{{app.timeslot}}</td>
                        <form action="{% url 'makeprescription' app.id %}" method="post" class="d-inline"> <!-- url 'patient_delete' pateint.iin -->
                            {% csrf_token %}
                            <button type="submit" class="btn text-info"> Make prescription
                            </button>
                        </form>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
</div>
</div>
</div>
{% endblock content %}