{% extends "sys_base/base.html" %} {% load crispy_forms_tags %} 

{% block content %}
<div class="pt-5">
    <form name = 'searchbarform' action="{% url 'searchdoctors' %}" method="POST" class="form-group" >
        {% csrf_token %}
        <div class="container input-group mb-3">
            <div class="input-group w-100">
                <input type="search" placeholder="Search..." name = "searchbar" class="form-control form-control-lg">
                <input class = 'btn btn-light font-weight-bold' name = 'searchbarsubmit' type="submit" value="Search">
            </div>
        </div>
    </form>
    {% if page_obj %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for obj in page_obj %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        {% if obj.photo_doctor %}
                        {% load static %}
                        <img class = "card-img-top" src="{{obj.email.avatar.url }}" width="50" height="60" alt="avatar">
                        {% else %}
                        {% load static %}
                        <img src="{% static 'imgs/default.jpg' %}" width="50" height="60" alt="defaultimage">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">
                                <br>
                                Name: {{ obj.name }} <br>
                                Surname: {{ obj.surname }} <br>
                                Contact number: {{ obj.contact_number }} <br>
                                Category: {{ obj.category_doctor }} <br>
                                Rating: {{ obj.rating }} <br>
                                Price: {{ obj.price_of_appointment }} <br>
                                Degree: {{ obj.degree }} <br>
                                <br>
                            </p>
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'request_appointment' obj.id %}">Select</a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>




    <!-- <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <td>Photo</td>
                <td>Name</td>
                <td>Surname</td>
                <td>Phone Number</td>
                <td>Category</td>
                <td>Price of appointment</td>
                <td>Degree</td>
                <td>Rating</td>
                <td></td>
            </tr>
        </thead>
        <tbody>
            {% for obj in page_obj %}
            <tr>
                {% if obj.photo_doctor %}
                <td>
                    {% load static %}
                    <img src="{{obj.email.avatar.url }}" width="50" height="60" alt="defaultimage">
                </td>
                {% else %}
                <td>
                    {% load static %}
                    <img src="{% static 'imgs/default.jpg' %}" width="50" height="60" alt="defaultimage">
                </td>
                {% endif %}
                <td>{{ obj.name }}</td>
                <td>{{ obj.surname }}</td>
                <td>{{ obj.contact_number }}</td>
                <td>{{ obj.category_doctor }}</td>
                <td>{{ obj.price_of_appointment }}</td>
                <td>{{ obj.degree }}</td>
                <td>{{ obj.rating }}</td>
                <td><a href="{% url 'request_appointment' obj.id %}" class="btn btn-info btn-block"> 
                    Select
                </a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table> -->
    {% endif %}
</div>



{% endblock content %}
