{% extends "sys_base/base.html" %} {% load crispy_forms_tags %} 
{% load static %}

{% block content %}
<div class="pt-5">
    <form name = 'searchbarform' action="{% url 'searchdoctors' %}" method="POST" class="form-group">
        {% csrf_token %}
        <div class="container input-group mb-3">
            <div class="input-group w-100">
                <input type="search" id="tags" placeholder="Search..." name = "searchbardoctors" class="form-control form-control-lg">
                <script>
                    $( function() {
                      var availableTags = [
                        {% for doctor in doctors %}
                            "{{ doctor.surname }} {{doctor.name}}",
                        {% endfor %}
                      ];
                      $( "#tags" ).autocomplete({
                        source: availableTags
                      });
                    } );
                </script>
                <input class = 'btn btn-light font-weight-bold' name = 'searchbarsubmit' type="submit" value="Search">
            </div>
        </div>
        
        <div class="container input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Choose Doctor Specialization: </label>
            </div>
            <select class="custom-select" id="inputGroupSelect01" name="select_spec">
              <option selected>Select from below</option>
              {% for specialization in specializations%}
              <option value="{{specialization}}">{{specialization}}</option>
              {% endfor %}
            </select>
          </div>
    </form>
    {% if page_obj %}

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row">
                {% for obj in page_obj %}
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        {% if not obj.photo_doctor.exists %}         
                        <img class = "card-img-top" src="{% static 'sys_base/imgs/default.jpg' %}" alt="defaultimage">     
                        {% else %}
                        <img class = "card-img-top" src="{{ obj.photo_doctor.url }}" alt="notdefaultimage">
                        {% endif %}
                        <div class="card-body">
                            <p class="card-text">
                                <br>
                                Name: {{ obj.name }} <br>
                                Surname: {{ obj.surname }} <br>
                                Contact number: {{ obj.contact_number }} <br>
                                Category: {{ obj.category_doctor }} <br>
                                Rating: {{ obj.rating }} <br>
                                Price: {{ obj.price_of_appointment }} <br>
                                Degree: {{ obj.degree }} <br>
                                <br>
                            </p>
                            {% if not request.user.is_authenticated%}
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'request_appointment' obj.id %}">Select</a>
                            </div>
                            {% elif request.user.patient %}
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="btn btn-sm btn-outline-secondary" href="{% url 'patient_app_request' obj.id %}">Select</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% if page_obj %}
<nav aria-label="Page nav">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        </li>
        {% endif %}

        
        <li class="page-item disabled"><a class="page-link" href="#">{{page_obj.number}}</a></li>
        <li class="page-item  disabled"><a class="page-link" href="#"> out of </a></li>
        <li class="page-item  disabled"><a class="page-link" href="#">{{ page_obj.paginator.num_pages }}</a></li>
       

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        </li>
        {% endif %}
    </ul>
  </nav>
  {% endif %}


{% endblock content %}
